html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    font-family: "PT Sans", sans-serif;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #F6F6F6;
}

.container .task-input {
    padding: 10px;
    height: 50px;
    font-size: 16px;
    border: none;
    width: Calc(100% - 100px);
}

.container .kanban-board {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.container .kanban-board .category {
    flex: 1;
    margin: 10px;
    padding: 10px;
}

.container .kanban-board .category h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-transform: uppercase;
}

.container .kanban-board .category span {
    font-size: 14px;
    color: #AAA;
}

.container .kanban-board .category ul {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}

.container .kanban-board .category ul li {
    font-size: 14px;
    margin-bottom: 10px;
    padding: 15px 40px 15px 15px;
    background: #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    cursor: move;
    position: relative;
}

.container .kanban-board .category ul li .btn-delete {
    display: block;
    background: #e74c3c;
    color: #FFF;
    width: 22px;
    height: 22px;
    border: none;
    border-radius: 11px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -11px;
    opacity: 0.05;
    cursor: pointer;
    transition: 0.5s opacity;
    font-size: 15px;
    text-align: center;
    line-height: 24px;
    /* text-indent: -3px;
    transform: rotateZ(45deg); */
}

.container .kanban-board .category ul li .btn-delete:hover {
    opacity: 1;
}

.container .kanban-board .category.ongoing li {
    border-left: 5px solid #f39c12;
}

.container .kanban-board .category.todo li {
    border-left: 5px solid #e74c3c;
}

.container .kanban-board .category.done li {
    border-left: 5px solid #2ecc71;
}

.container.dark {
    background: #1d1f21;
}

.modal-dark {
    background: #1d1f21 !important;
    color: #FAFAFA !important;
}

.container.dark .task-input {
    background: #292c2f;
    color: #FAFAFA;
}

.container.dark .kanban-board .category h2 {
    color: #7e848d;
}

.container.dark .kanban-board .category ul li {
    background: #35393c;
    color: #e8e8e8;
}

.modal {
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #666;
    width: 300px;
    border-radius: 0px;
    /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); */
    position: relative;
}

.modal h2 {
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
}

.modal .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #777;
}

.modal .close:hover {
    opacity: 1;
}

.modal .content {
    max-height: 400px;
    overflow: auto;
}

.modal p {
    margin: 0 0 1em;
    text-align: center;
}

.modal p:last-child {
    margin: 0;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

.overlay .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

#settings {
    width: 50px
}

#dark {
    width: 50px
}

.button {
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 0.75rem 1rem;
    border: 0;
    /* border-radius: 0.317rem; */
    /* background-color: #aaa; */
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Helvetica Neue", Arial, sans-serif;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

.button-save {
    background-color: #292c2f;
    color: white;
}

.button-save-dark {
    background-color:white;
    color:  #292c2f;
}

.button-dark {
    background-color: #292c2f;
    color: white;
}

.button:hover {
    opacity: 0.85;
}

.button:active {
    box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

.button:focus {
    outline: thin dotted #444;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.button_primary {
    background-color: #1fa3ec;
}

.top {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}